@charset "UTF-8";

body {
    margin: 0px;
    padding: 0px;
}

header > div {
    background-color: #A93EB5;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 24vh;
}

main > div {
    background-color: #ade6ff;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 69.85vh;
}

footer> div {
    background-color: #00000083;
    margin: 0px;
    margin-top: -15px;
    padding:0px;
    width: 100vw;
    height: 6vh;
}

footer > div > p {
    color: #ffffff;
    text-align: center;
    text-shadow: 0px 0px 3px #000000;
    padding-top: 15px;
}

footer > div > p > a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0px 0px 3px #000000;
}
