@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: #000000;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

body {
    background-color: #ade6ff;
}

header > div {
    display: block;
    background-color: #A93EB5;
    border: 2px solid #000000;
    padding: 10px 0px 10px 0px;
    width: 100vw;
    height: 15vh;
}

div#iventilador {
    background:  center url(../imagens/ventilador_peq.gif) no-repeat;
    width: 100vw;
    height: 15vh;
}

nav a {
    background-color: #A93EB5;
}

a#ilogin {
    display: block;
    float: left;
    margin-top: -20px;
}

a#iacesso {
    display: none;
    float:left;
    margin-top: -20px;
}

menu#iarea {
    display: none;
    position: absolute;
    margin-top: -12px;
}

menu#iarea > ul {
    list-style-type: none;
}

menu#iarea >ul > li {
    display: inline-block;
}

a.menu {
    border: 2px solid #000000;
    border-radius: 5px 20px;
    padding: 5px 10px;
    margin-left: 5px;
    color:#ffffff;
    font-size: 1em;
    font-weight:400;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

main > div {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 380px;
    height: 740px;
    padding-top: 15px;    
}

div > iframe {
    display: block;
    width: 380px;
    height: 722.5px;
}

main > div#navega {
    display: block;
    width: 100vw;
    height: 6vh;
}

div#navega > menu > ul {
    list-style-type: none;
    margin-left: 30px;
}

div#navega > menu > ul > li {
    background-color: #A93EB5;
    border: 1px solid #000000;
    border-radius: 5px 20px;
    width: 75px;
    display: inline-block;
    font-size: 1.5em;
    color: #ffffff;
    text-align: center;
    text-shadow: 0px 0px 3px #000000;
    margin-left: 20px;

}

div#navega > menu > ul > li > a{
    color:#ffffff
}

footer> div {
    background-color: #00000083;
    margin: 0px;
    padding:0px;
    width: 100vw;
    height: 6vh;
}

footer > div > p {
    color: #ffffff;
    text-align: center;
    text-shadow: 0px 0px 3px #000000;
    padding-top: 20px;
}

footer > div > p > a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0px 0px 3px #000000;
}