@charset "UTF-8";

@media screen and (min-width: 768px) {

    * {
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
        text-decoration: none;
        color: #000000;
    }

    div#iventilador {
        background:  center url(../imagens/ventilador.gif) no-repeat;
        height: 100%;
        width: 100%;
    }
    
    nav {
        margin-top: -13px;
    }
     
    a#ilogin {
        display: block;
        float: right;
        margin-top: -7px;
        margin-right: 50px;
    }
    
    a#iacesso {
        display: none;
        float:right;
        margin-top: -7px;
        margin-right: 50px;
    }
    
    menu {
        display: none;
        position: relative;
        float: right;
        margin-top:20px;
        margin-right: -110px;
        text-align: center;
    }

    menu > ul {
        list-style-type: none;
    }
    
    menu >ul > li {
        display: block;
        margin-top: 15px;
    }
    
    a.menu {
        display: block;
        border: 2px solid #000000;
        border-radius: 5px 20px;
        padding: 5px 10px;
        margin-right: -20px;
        color:#ffffff;
        font-size: 1em;
        font-weight:400;
        width:100px;
        text-align: center;
    }

    main {
        height: 1500px;
    }

    div > iframe {
        display: block;
        width: 600px;
        height: 1032px;
        position: absolute;
        transform: translate(-50%, 30%);
        left: 50%;
        top: 0px;
        border:2px solid #000000;
        margin-top: 0px;
    }
    
    menu#navega > ul > li {
        display: block;
        position: relative;
        bottom: 50%;
        left: 50%;
        border: 1px solid #000000;
    }

    footer{
        height: 100px;
    }
    div#autor {
        border: 2px solid #000000;
    }
}
