@charset "UTF-8";

/* Estilos para telas*/

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: #9e9e9e;
}

header > h1 {
    text-align: center;
}

menu > ul {
    list-style-type: none;
    background-color: #808080;
}

menu li {
    display: inline-block;
    background-color: #4b4b4b;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}

article {
    display: block;
    width: 600px;
    margin: auto;    
}

p {
    text-align: justify;
    text-indent: 30px;
}