@charset "UTF-8";

   
    h1 {
        text-align: center;
        font-size: 2.5em;
        margin: 0px;
        color: #a93eb5;
        font-weight: bolder;
        text-shadow: 4px 4px 3px #782c8079;
    }
    ul#album {
        list-style: none;
        margin: 0px 5px;
        padding-top: 25px;
    }

    li.fotos {
        float: left;
        width: 50px;
        height: 50px;
        margin: 10px 4px;
        border: 5px solid #ffffff;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 1px 1px 3px #00000066;
        color: #ffffff00;
        transition: all .75s ease-in;
    }

    li.fotos:hover {
        transform: scale(2.95);
        cursor: pointer;
    }

    li#foto01 {
        background: url('../imagens/foto01.png') no-repeat;
        background-position: 50% 50%;
        background-size: 300%;
        background-color: #ffffff;
    }

    li#foto01:hover {
        background-position: 50% 50%;
        background-size: 100%;
        background-color: #ffffff;
    }

    li#foto02 {
        background: url('../imagens/foto02.png') no-repeat;
        background-position: 50% 50%;
        background-size: 300%;
        background-color: #ffffff;
    }

    li#foto02:hover {
        background-position: 50% 50%;
        background-size: 100%;
        background-color: #ffffff;
    }

    li#foto03 {
        background: url('../imagens/foto03.png') no-repeat;
        background-position: 50% 50%;
        background-size: 300%;
        background-color: #ffffff;
    }

    li#foto03:hover {
        background-position: 50% 50%;
        background-size: 100%;
        background-color: #ffffff;
    }

    li#foto04 {
        background: url('../imagens/foto04.png') no-repeat;
        background-position: 50% 50%;
        background-size: 300%;
        background-color: #ffffff;
    }

    li#foto04:hover {
        background-position: 50% 50%;
        background-size: 100%;
        background-color: #ffffff;
    }

    li#foto05 {
        background: url('../imagens/foto05.png') no-repeat;
        background-position: 50% 50%;
        background-size: 300%;
        background-color: #ffffff;
    }

    li#foto05:hover {
        background-position: 50% 50%;
        background-size: 100%;
        background-color: #ffffff;
    }

    li#foto06 {
        background: url('../imagens/foto06.png') no-repeat;
        background-position: 50% 50%;
        background-size: 300%;
        background-color: #ffffff;
    }

    li#foto06:hover {
        background-position: 50% 50%;
        background-size: 100%;
        background-color: #ffffff;
    }

    li#foto07 {
        background: url('../imagens/foto07.png') no-repeat;
        background-position: 50% 50%;
        background-size: 300%;
        background-color: #ffffff;
    }

    li#foto07:hover {
        background-position: 50% 50%;
        background-size: 100%;
        background-color: #ffffff;
    }

    li#foto08 {
        background: url('../imagens/foto08.png') no-repeat;
        background-position: 50% 50%;
        background-size: 300%;
        background-color: #ffffff;
    }

    li#foto08:hover {
        background-position: 50% 50%;
        background-size: 100%;
        background-color: #ffffff;
    }

    li#foto09 {
        background: url('../imagens/foto09.png') no-repeat;
        background-position: 50% 50%;
        background-size: 300%;
        background-color: #ffffff;
    }

    li#foto09:hover {
        background-position: 50% 50%;
        background-size: 100%;
        background-color: #ffffff;
    }

    li#foto10 {
        background: url('../imagens/foto10.png') no-repeat;
        background-position: 50% 50%;
        background-size: 300%;
        background-color: #ffffff;
    }

    li#foto10:hover {
        background-position: 50% 50%;
        background-size: 100%;
        background-color: #ffffff;
    }

    li#foto11 {
        background: url('../imagens/foto11.png') no-repeat;
        background-position: 50% 50%;
        background-size: 300%;
        background-color: #ffffff;
    }

    li#foto11:hover {
        background-position: 50% 50%;
        background-size: 100%;
        background-color: #ffffff;
    }

    li#foto12 {
        background: url('../imagens/foto12.png') no-repeat;
        background-position: 50% 50%;
        background-size: 300%;
        background-color: #ffffff;
    }

    li#foto12:hover {
        background-position: 50% 50%;
        background-size: 100%;
        background-color: #ffffff;
    }

    li#foto13 {
        background: url('../imagens/foto13.png') no-repeat;
        background-position: 50% 50%;
        background-size: 300%;
        background-color: #ffffff;
    }

    li#foto13:hover {
        background-position: 50% 50%;
        background-size: 100%;
        background-color: #ffffff;
    }

    li#foto14 {
        background: url('../imagens/foto14.png') no-repeat;
        background-position: 50% 50%;
        background-size: 300%;
        background-color: #ffffff;
    }

    li#foto14:hover {
        background-position: 50% 50%;
        background-size: 100%;
        background-color: #ffffff;
    }

    li#foto15 {
        background: url('../imagens/foto15.png') no-repeat;
        background-position: 50% 50%;
        background-size: 300%;
        background-color: #ffffff;
    }

    li#foto15:hover {
        background-position: 50% 50%;
        background-size: 100%;
        background-color: #ffffff;
    }

    li#foto16 {
        background: url('../imagens/foto16.png') no-repeat;
        background-position: 50% 50%;
        background-size: 300%;
        background-color: #ffffff;
    }

    li#foto16:hover {
        background-position: 50% 50%;
        background-size: 100%;
        background-color: #ffffff;
    }

    li#foto17 {
        background: url('../imagens/foto17.png') no-repeat;
        background-position: 50% 50%;
        background-size: 300%;
        background-color: #ffffff;
    }

    li#foto17:hover {
        background-position: 50% 50%;
        background-size: 100%;
        background-color: #ffffff;
    }

    li#foto18 {
        background: url('../imagens/foto18.png') no-repeat;
        background-position: 50% 50%;
        background-size: 300%;
        background-color: #ffffff;
    }

    li#foto18:hover {
        background-position: 50% 50%;
        background-size: 100%;
        background-color: #ffffff;
    }

    li#foto19 {
        background: url('../imagens/foto19.png') no-repeat;
        background-position: 50% 50%;
        background-size: 300%;
        background-color: #ffffff;
    }

    li#foto19:hover {
        background-position: 50% 50%;
        background-size: 100%;
        background-color: #ffffff;
    }

    li#foto20 {
        background: url('../imagens/foto20.png') no-repeat;
        background-position: 50% 50%;
        background-size: 300%;
        background-color: #ffffff;
    }

    li#foto20:hover {
        background-position: 50% 50%;
        background-size: 100%;
        background-color: #ffffff;
    }

    li#foto21 {
        background: url('../imagens/foto21.png') no-repeat;
        background-position: 50% 50%;
        background-size: 300%;
        background-color: #ffffff;
    }

    li#foto21:hover {
        background-position: 50% 50%;
        background-size: 100%;
        background-color: #ffffff;
    }

    li#foto22 {
        background: url('../imagens/foto22.png') no-repeat;
        background-position: 50% 50%;
        background-size: 300%;
        background-color: #ffffff;
    }

    li#foto22:hover {
        background-position: 50% 50%;
        background-size: 100%;
        background-color: #ffffff;
    }

    li#foto23 {
        background: url('../imagens/foto23.png') no-repeat;
        background-position: 50% 50%;
        background-size: 300%;
        background-color: #ffffff;
    }

    li#foto23:hover {
        background-position: 50% 50%;
        background-size: 100%;
        background-color: #ffffff;
    }

    li#foto24 {
        background: url('../imagens/foto24.png') no-repeat;
        background-position: 50% 50%;
        background-size: 300%;
        background-color: #ffffff;
    }

    li#foto24:hover {
        background-position: 50% 50%;
        background-size: 100%;
        background-color: #ffffff;
    }

    li#foto25 {
        background: url('../imagens/foto25.png') no-repeat;
        background-position: 50% 50%;
        background-size: 300%;
        background-color: #ffffff;
    }

    li#foto25:hover {
        background-position: 50% 50%;
        background-size: 100%;
        background-color: #ffffff;
    }

    li#foto26 {
        background: url('../imagens/foto26.png') no-repeat;
        background-position: 50% 50%;
        background-size: 300%;
        background-color: #ffffff;
    }

    li#foto26:hover {
        background-position: 50% 50%;
        background-size: 100%;
        background-color: #ffffff;
    }

    li#foto27 {
        background: url('../imagens/foto27.png') no-repeat;
        background-position: 50% 50%;
        background-size: 300%;
        background-color: #ffffff;
    }

    li#foto27:hover {
        background-position: 50% 50%;
        background-size: 100%;
        background-color: #ffffff;
    }

    li#foto28 {
        background: url('../imagens/foto28.png') no-repeat;
        background-position: 50% 50%;
        background-size: 300%;
        background-color: #ffffff;
    }

    li#foto28:hover {
        background-position: 50% 50%;
        background-size: 100%;
        background-color: #ffffff;
}

@media screen and (min-width: 600px) {

    ul#album {
        list-style: none;
        margin: 5px 20px;
    }

    li.fotos {    
        width: 100px;
        height: 100px;
        margin: 2px 2px;
    }

    li.fotos:hover {
        transform: scale(2);
        cursor: pointer;
}
