@charset "UTF-8";

@media screen and (min-width: 760px) {

    * {
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
        text-decoration: none;
        color: #000000;
    }

    html, body {
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
    }
        
    header  {
        display: block;
        background-color: #A93EB5;
        border: 2px solid #000000;
        padding: 10px 0px 10px 0px;
        width: 100vw;
        height: 15vh;
    }
    
    div#iventilador {
        background:  center url(../imagens/ventilador.gif) no-repeat;
        background-size: 50%;
        width: 100vw;
        height: 15vh;
    }

    
    nav {
        margin-top: -13px;
        background-color: #A93EB5;
    }
     
    a#ilogin {
        display: block;
        float: right;
        margin-top: -7px;
        margin-right: 50px;
    }
    
    a#iacesso {
        display: none;
        float:right;
        margin-top: -7px;
        margin-right: 50px;
    }
    
    menu#iarea {
        display: none;
        position: relative;
        float: right;
        margin-top: 25px;
        margin-right: -110px;
        text-align: center;
    }

    /*menu#iarea > ul {
        list-style-type: none;
    }*/
    
    menu#iarea >ul > li {
        display: block;
        margin-top: 3px;
    }
    
    a.menu {
        display: block;
        border: 2px solid #000000;
        border-radius: 5px 20px;
        padding: 5px 10px;
        margin-right: -20px;
        color:#ffffff;
        font-size: 1em;
        font-weight:400;
        width:100px;
        text-align: center;
    }

    main {
        position: relative;
        width: 100vw;
        height: 118vh;
    }
    
    main > div#paginas {
        display: block;
        background-color: #ade6ff;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 600px;
        height: 940px;
        padding: 15px;
    }

    div > iframe {
        display: block;
        width: 600px;
        height: 940px;
    }

    main > div#navega {
        width: 100vw;
        height: 30px;
        margin-top: 50px;
    }

    div > menu {
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    
    div#navega > menu > ul {
        list-style-type: none;
    }
    
    div#navega > menu > ul > li {
        display: inline-block;
        background-color: #A93EB5;
        border: 1px solid #000000;
        border-radius: 5px 20px;
        width: 75px;
        font-size: 1.5em;
        color: #ffffff;
        text-align: center;
        text-shadow: 0px 0px 3px #000000;
        margin: 0px 40px;
    
    }
    
    div#navega > menu > ul > li#pag{
        width: 100px;
        font-size: 1em;
        padding: 7.5px 0px;
    }

    div#navega > menu > ul > li > a{
        color: #ffffff;
    }
    
    footer > div {
        background-color: #00000083;
        margin: 0px;
        padding:0px;
        width: 100vw;
        height: 6vh;
    }
    
    footer > div > p {
        color: #ffffff;
        text-align: center;
        text-shadow: 0px 0px 3px #000000;
        padding-top: 20px;
    }
    
    footer > div > p > a {
        text-decoration: none;
        color: #ffffff;
        text-shadow: 0px 0px 3px #000000;
    }

    span#burguer {
        display: none;
    }
}

