@charset "UTF-8";

@media screen and (min-width: 600px) {

    header  {
        padding: 10px 0px 10px 0px;
        width: 100vw;
        height: 20vh;
    }
    
    div#iventilador {
        
    background: center url(../imagens/ventilador.gif) no-repeat;
        height: 15vh;
    }

    span.material-symbols-outlined {
        display: none;
    }

    menu#principal {
        display: inline-block;
        margin-left: 0px;
        margin-top: 15px;
        position:relative;
        left: 50%;
        transform: translateX(-50%);
    }
    
    li.item {
        margin-right: 10px;
        padding: 5px;
        width: 100px;
    }

    li.item > a {
        display: block;
        font-size: 1em;
        color: #ffffff;
    }
    
    main > div#paginas {
        width: 600px;
        height: 940px;
    }

    iframe#pagina {
        width: 600px;
        height: 940px;
    }

    menu#pages {
        margin-top: 50px;
    }
    
    menu#pages > ul > li {
        width: 75px;
        margin: 0px 23px;
    
    }
    
    menu#pages > ul > li > a {
        font-size: 1.5em;
    }

    menu#pages > ul > li#pag {
        width: 100px;
        font-size: 1.2em;
    }
}
