@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1200px) {
    
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 900px;
        height: 350px;
    }

    div#formulario {
        margin: 0px;
        padding: 0px;
        float: right;
        width: 40%;
        height: 100%;        
    }

    div#formulario > h1 {
        padding: 10px;
    }

    div#formulario > p {
        padding: 2px 10px;
        font-size: 1em;
    }

    div#formulario > form {
        padding: 15px 10px;
    }
    
    div#foto {
        float: left;
        width: 60%;
        height: 100%;
    }

}

@media screen and (min-width:1200px) {
    
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 1000px;
        height: 450px;

    }

    div {
        display: inline-block;
    }

    div#formulario {
        margin: 0px;
        padding: 0px;
        float: left;
        width: 50%;
        height: 25vh;         
    }

    div#formulario > h1 {
        padding: 10px;
        text-align: center;
    }

    div#formulario > p {
        padding: 2px 10px;
        font-size: 1.2em;
    }

    div#formulario > form {
        padding: 15px 10px;
    }
    
    div#foto {
        float: right;
        width: 50%;
        height: 100%;
    }

}