@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: #000000;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: #ade6ff;
}

header {
    position: absolute;
    background-color: #A93EB5;
    border: 2px solid #000000;
    padding: 10px;
    width: 100vw;
    height: 250px;
}

div#iventilador {
    background:  center url(../_imagens/ventilador.gif) no-repeat;
    height: 100%;
    width: 100%;
}

nav {
    margin-top: -13px;
}

a#ilogin {
    display: block;
    float: left;
    margin-top: -7px;
}

a#iacesso {
    display: none;
    float:left;
    margin-top: -7px;
}

menu {
    display: none;
    margin-top:-10px;
}

menu > ul {
    list-style-type: none;
}

menu >ul > li {
    display: inline;
}

a.menu {
    border: 2px solid #000000;
    border-radius: 5px 20px;
    padding: 5px 10px;
    margin-left: 5px;
    color:#ffffff;
    font-size: 1em;
    font-weight:400;
}

main {
    height: 90vh;
}

/*div > iframe {
    display: block;
    width: 380px;
    height: 716px;
    position: absolute;
    transform: translate(-50%, 43%);
    left: 50%;
    top: 0px;
    border:2px solid #000000;
    margin-top: 0px;
}*/

div#navega {
    display: block;
    border: 1px solid #000000;
}


div#autor {
    border: 2px solid #000000;
}