@charset "UTF-8";

body {
    background-color: #ade6ff;
    margin: 0px;
    padding: 0px;
}
header > div {
    background-color: #A93EB5;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 250px;
}

footer> div {
    background-color: #00000083;
    margin: 0px;
    padding:0px;
    width: 100vw;
    height: 50px;
}

footer > div >p {
    color: #ffffff;
    text-align: center;
    text-shadow: 0px 0px 3px #000000;
    padding-top: 15px;
}
